name: GH Pages Deploy

on:
  push:
    tags:
      - "*" # Only run on tags

env:
  MDBOOK-VERSION: v0.4.21
  MDBOOK-ADMONISH-VERSION: v1.7.0
  MDBOOK-CATPPUCCIN-VERSION: v0.1.1

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install mdbook
        run: |
          mkdir mdbook 
          curl -sSL  https://github.com/rust-lang/mdBook/releases/download/${{ env.MDBOOK-VERSION }}/mdbook-${{ env.MDBOOK-VERSION }}-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=./mdbook
          echo `pwd`/mdbook >> $GITHUB_PATH
      - name: Install mdbook-admonish
        run: |
          mkdir mdbook-admonish
          curl -sSL https://github.com/tommilligan/mdbook-admonish/releases/download/${{ env.MDBOOK-ADMONISH-VERSION }}/mdbook-admonish-${{ env.MDBOOK-ADMONISH-VERSION }}-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=./mdbook-admonish
          echo `pwd`/mdbook-admonish >> $GITHUB_PATH
      - name: Install mdbook-catppuccin
        run: |
          mkdir mdbook-catppuccin 
          curl -sSL https://github.com/catppuccin/mdBook/releases/download/${{ env.MDBOOK-CATPPUCCIN-VERSION }}/mdbook-catppuccin-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=./mdbook-catppuccin
          echo `pwd`/mdbook-catppuccin >> $GITHUB_PATH
      - name: Deploy GitHub Pages
        run: |
          mdbook-catppuccin install
          mdbook-admonish install
          mdbook build
          git worktree add gh-pages
          git config user.name "Deploy from CI"
          git config user.email ""
          cd gh-pages
          # Delete the ref to avoid keeping history.
          git update-ref -d refs/heads/gh-pages
          rm -rf *
          mv ../book/* .
          sed -i -e 's/1e1e2e/020202/' -e 's/181825/010101/' -e 's/11111b/000000/' theme/catppuccin.css
          echo "spookyintheam.codes" >> CNAME
          git add .
          git commit -m "Deploy $GITHUB_SHA to gh-pages"
          git push --force --set-upstream origin gh-pages
